$balls-colors: (
  red: #FF1155,
  green: #66B8BA,
  blue: #176475,
  yellow: #F5FF9B,
  purple: #E1EFE8
);

:host {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  overflow: visible;
  pointer-events: none;
}

.ball {
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  position: absolute;
  display: block;
  cursor: pointer;
  transform: translate(-50%, -50%);
  box-shadow: inset 0 0 16px 2px var(--color-dark);
  overflow: hidden;
  transform-origin: 50% 100%;

  &::before, &::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
  }

  &::before {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background: var(--color-light);
    box-shadow: 0 0 10px 6px var(--color-light);
    opacity: 0;
    transition: 320ms;
  }

  &::after {
    width: 25%;
    height: 25%;
    border-radius: 50%;
    background: var(--color-light);
    box-shadow: 0 0 10px 6px var(--color-light);
    transform: translate(-75%, -75%);
    z-index: 2;
  }

  &.active {
    animation: jump 600ms infinite linear;
  }

  @each $name, $value in $balls-colors {
    &.#{$name} {
      background: $value;
      --color-dark: #{ rgba(darken(adjust-hue($value, -10%), 50%), 0.6) };
      --color-light: #{ rgba(lighten(adjust-hue($value, 10%), 50%), 0.3) };
    }
  }
}

$shadow-translate: translate(-50%, 50%);
.shadow {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 30%;
  border-radius: 50%;
  transform: #{$shadow-translate};
  background: #000;
  box-shadow: 0 0 4px 4px rgba(#000, 1);
  opacity: 0.3;
  transform-origin: 50% 100%;

  .active {
    animation: jump-shadow 600ms infinite linear;
  }
}

@keyframes jump {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  15% {
    transform: translate(-50%, -48%) scale(1.2, 1);
  }
  40% {
    transform: translate(-50%, -60%) scale(1, 1.2);
  }
  60% {
    transform: translate(-50%, -75%) scale(1.2, 1.1);
  }
  70% {
    transform: translate(-50%, -65%) scale(1.2, 1.2);
  }
  90% {
    transform: translate(-50%, -50%) scale(1, 1.2);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes jump-shadow {
  0% {
    transform: #{$shadow-translate} scale(1);
  }
  15% {
    transform: #{$shadow-translate} scale(1.05);
  }
  40% {
    transform: #{$shadow-translate} scale(0.9);
  }
  60% {
    transform: #{$shadow-translate} scale(0.75);
  }
  70% {
    transform: #{$shadow-translate} scale(0.8);
  }
  90% {
    transform: #{$shadow-translate} scale(1);
  }
  100% {
    transform: #{$shadow-translate} scale(1);
  }
}