:host {
  position: relative;
  display: grid;
  width: 540px;
  height: 540px;
  background-color: var(--color-grid);
  background-image: 
    linear-gradient(45deg, var(--color-grid-dark) 25%, transparent 25%),
    linear-gradient(-45deg, var(--color-grid-dark) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, var(--color-grid-dark) 75%),
    linear-gradient(-45deg, transparent 75%, var(--color-grid-dark) 75%);
  background-size: #{540/9*2}px #{540/9*2}px;
  background-position: 
    0 0, 
    0 60px, 
    60px -60px, 
    -60px 0;
  border-radius: 0.5rem;
  box-shadow: 
    0 0 0 24px #fff, 
    0 0 48px 20px rgba(#000, 0.4), 
    inset 0 0 24px 1px rgba(#000, 0.24);
  perspective: 300px;
}