:host {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 2;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  width: 60vmin;
}

.ui__colors {
  display: flex;
  flex-flow: row;
}

.ui__ball {
  width: var(--ball-size);
  height: var(--ball-size);
}

.ui__turn,
.ui__score {
  color: #fff;
  font-size: 4rem;
  width: 5em;
}

.ui__turn {
  text-align: right;
}