:host {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 2;
  pointer-events: none;
}

.ui__colors {
  display: flex;
  flex-flow: row;
}

.ui__ball {
  width: var(--ball-size);
  height: var(--ball-size);
}