:host {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  overflow: visible;
  pointer-events: none;
}

.ball {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  position: absolute;
  display: block;
  cursor: pointer;
  overflow: hidden;
  transform-origin: 50% 100%;

  &::after,
  &::before {
    position: absolute;
    display: block;
    content: '';
    z-index: 1;
  }
  
  &::before {
    color: #fff;
    background: currentColor;
    opacity: 0.16;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translateX(-50%) scale(1.6, 1);
    box-shadow: 0 0 6px 4px currentColor;
  }
  
  &::after {
    background: #fff;
    width: 18%;
    height: 6%;
    border-radius: 50%;
    top: 12%;
    left: 52%;
    opacity: 0.40;
    transform: rotate(15deg);
  }
  
  &.blue {
    background: radial-gradient(#7cffe3, #1f62de 35%, #0638d9 60%, #290ec4);
  }
  &.red {
    background: radial-gradient(#e8c580, #f23630 35%, #e02f74 60%, #ab2465);
  }
  &.green {
    background: radial-gradient(#e2eb3d, #0bb554 45%, #11996c 60%, #17756f);
  }
  &.yellow {
    background: radial-gradient(#dded51, #b88b25 45%, #82441b);
  }
  &.purple {
    background: radial-gradient(#f09484, #d86ee0 25%, #742fd5 55%, #411775);
  }

  &.active {
    animation: jump 600ms infinite linear;
  }
}

$shadow-translate: translateY(0);
.shadow {
  display: block;
  position: absolute;
  top: 6%;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: #{$shadow-translate};
  background: #000;
  box-shadow: 0 0 6px 0 rgba(#000, 1);
  opacity: 0.3;
  transform-origin: 50% 100%;

  &.active {
    animation: jump-shadow 600ms infinite linear;
  }
}

@keyframes jump {
  0% {
    transform: translateY(0) scale(1);
  }
  15% {
    transform: translateY(-2%) scale(1.2, 1);
  }
  40% {
    transform: translateY(-10%) scale(1, 1.2);
  }
  60% {
    transform: translateY(-25%) scale(1.2, 1.1);
  }
  70% {
    transform: translateY(-15%) scale(1.2, 1.2);
  }
  90% {
    transform: translateY(0) scale(1, 1.2);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

@keyframes jump-shadow {
  0% {
    transform: #{$shadow-translate} scale(1);
  }
  15% {
    transform: #{$shadow-translate} scale(1.05);
  }
  40% {
    transform: #{$shadow-translate} scale(0.9);
  }
  60% {
    transform: #{$shadow-translate} scale(0.75);
  }
  70% {
    transform: #{$shadow-translate} scale(0.8);
  }
  90% {
    transform: #{$shadow-translate} scale(1);
  }
  100% {
    transform: #{$shadow-translate} scale(1);
  }
}