/* You can add global styles to this file, and also import other style files */

html {
  --color-cell: #ccc;
  --color-grid: #c9bacc;
  --color-grid-dark: #c0b0c4;
  --color-root: #333;
  --color-border: #ccc;
  --ball-size: 60px;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #3fe1ff, #974dab);
  font-family: 'Poor Story', cursive;
  @media screen and (min-width: 667px) {
    --ball-size: 60px;
  }

}



body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

}