/* You can add global styles to this file, and also import other style files */

html {
  --color-cell: #ccc;
  --color-grid: #444;
  --color-root: #333;
  --color-border: #ccc;
  --ball-size: 6vmax;
  width: 100%;
  height: 100%;
  background: var(--color-root);
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}